@import '../styles/colors.scss';

.container {
  height: 100vh;
  display: flex;
  main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $background;
  }
}
